POSTGRES_URL="postgresql://..."
NEXTAUTH_SECRET="<CHOOSE_A_RANDOM_SECRET>"
NEXTAUTH_URL="http://localhost:3000"
SEIBERT_CLIENT_ID="<SEIBERT_CLIENT_ID>"
SEIBERT_CLIENT_SECRET="<SEIBERT_CLIENT_SECRET>"
SSR_ENCRYPTION_KEY="<GENERATE_WITH_openssl_rand_-base64_32>"
